/* <=300px*/

@media screen and (max-width: 300px){
    .foot-left {
        display: none;
    }
    .foot-right {
        display: none;
    }
    
}

/* <=400px*/
@media screen and (max-width: 400px){
    .album {
        width: calc(100% - 60px);
    }
    .album-container {
        justify-content: center;
    }
    .foot-left-icons {
        display: none;
    }
    
}

/*>= 401px*/
@media screen and (min-width: 401px){
    .btn__upgrade {
        font-size: 1.2em;
        height: 50px;
        border: 1px solid #FFF;
        margin-right: 50px;
        padding: 13px 40px;
        border-radius: 25px;
        transition: 0.5s;
    }
    h2, h5 {
        text-align: left;
    }
    
}

/* >=300px && <=400px*/
@media screen and (min-width: 300px) and (max-width: 400px){
    .btn__upgrade {
        margin-right: 20px;
    }
}

/* >=550px*/
@media screen and (min-width: 550px){
    .foot-center-playtime {
        display: flex;
    }
    #big-icon {
        display: none;
    }
    .fa-list, 
    .fa-desktop,
    .fa-volume-up {
    display: inline-block;
    }
}

/* >=601px */
@media screen and (min-width: 601px){

    body {
        font-size: 15px;
    }
    /*Sidebar*/
    aside {
        width: 230px;
        text-align: left;
        padding: 10px;
    }

    .logo {
        padding: 10px;
    }

    #logo-xs {
        display: none;
    }

    #logo-lg {
        display: inline-block;
    }

    .download::after {
        visibility: visible;
    }

    span {
        display: inline-block;
    }

    .nav-playlist {
        display: block;
    }

    /*Main*/

    .main-container {
        width: calc(100% - 230px);
    }


    /*Banner*/
    .top-banner {
        width: calc(100% - 235px);
    }

    /*Footer*/


}

/* >= 701px && <=1100px */

@media screen and (min-width: 900px) and (max-width: 1100px) { 
    .album {
        width: calc((100% - 60px) / 4);
    }

}

/* >= 800px*/

@media screen and (min-width: 800px){
    .foot-left-text {
        display: inline-block;
    }

    .foot-center-playtime .player {
        width: 40vw;
    }
    
}
/* >=1101px */

@media screen and (min-width: 1101px) {
    .album {
        width: calc((100% - 90px) / 6);
    }
    .foot-right .player{
        display: inline-block;
    }
    
}  

/* Specific to right footer icons*/

@media screen and (max-width: 747px) {
    .foot-right-icons i {
        padding: 0 5px;
    }
    
}
@media screen and (min-width: 748px) and (max-width: 897px) {
    .foot-right-icons i {
        padding: 0 5px;
    }
    
}
@media screen and (min-width: 898px) and (max-width: 1099px) {
    .foot-right-icons i {
        padding: 0 5px;
    }
    
}

/* Specific to .nav-content section*/

/* <=236px */

@media screen and (max-width: 236px){
    .flex-column{
        flex-basis: 100%;
    }
    
}

/* <=266px */

@media screen and (max-width: 266px) {
    .nav-content a {
        font-size: 0.9em;
    }
    
}

/* <=303px*/

@media screen and (max-width: 303px){
    .nav-content a {
        padding: 0;
    }
    
}

/* >=267px && <=303px */

@media screen and (min-width: 267px) and (max-width: 303px) {
    .recently-played, 
    .for-you,
    .popular {
        padding: 0;
    } 
    .album {
        margin-right: 0;
    }
    .nav-content ul {
        text-align: center;
        align-items: center;
    }
}

/* >=304px && <=739px */

@media screen and (min-width: 237px) and (max-width: 739px) {
    .flex-column {
        flex-basis: calc(100% / 2);
    }
    
}

/* >=740px && <=957px */

@media screen and (min-width: 740px) and (max-width: 957px) {
    .flex-column {
        flex-basis: calc(100% / 3);
    }
    
}







