/* Media query, >=601px */
@media screen and (min-width: 601px){
    /*Sidebar*/
    aside {
        width: 230px;
        text-align: left;
    }

    .logo {
        padding: 10px;
    }

    .logo-xs {
        display: none;
    }

    .logo-lg {
        display: inline-block;
    }

    span {
        display: inline-block;
    }

    .nav-playlist {
        display: block;
    }

    hr {
        visibility: visible;
        width: 80%;
        margin: auto;
    }

    /*Main*/

    main {
        /* width: 100%; */
    }

    .main-container {
        width: calc(100% - 230px);
    }


    /*Banner*/
    .top-banner {
        width: calc(100% - 230px);
    }
}

/* >= 601px && <= 700px */


@media screen and (min-width: 601px) and (max-width: 700px) {

    
    
}

/* >= 701px && <=1100px */

@media screen and (min-width: 701px) and (max-width: 1100px) { 
    .album {
        width: calc((100% - 60px) / 4);
    }
}

/* >=1101px */

@media screen and (min-width: 1101px) {
    .album {
        width: calc((100% - 90px) / 6);
    }
    
}  