/* <=400px*/
@media screen and (max-width: 400px){
    .album {
        width: calc(100% - 60px);
    }
    .album-container {
        justify-content: center;
    }
    
}

/* >=550px*/
@media screen and (min-width: 550px){
    .foot-center-playtime {
        display: flex;
    }
    #big-icon {
        display: none;
    }
    .fa-list, 
    .fa-desktop,
    .fa-volume-up {
    display: inline-block;
    }
}

/* >=601px */
@media screen and (min-width: 601px){

    body {
        font-size: 15px;
    }
    /*Sidebar*/
    aside {
        width: 230px;
        text-align: left;
    }

    .logo {
        padding: 10px;
    }

    .logo-xs {
        display: none;
    }

    .logo-lg {
        display: inline-block;
    }

    span {
        display: inline-block;
    }

    .nav-playlist {
        display: block;
    }

    .nav-profile hr {
        visibility: visible;
        width: 80%;
        margin: auto;
    }

    /*Main*/

    .main-container {
        width: calc(100% - 230px);
    }


    /*Banner*/
    .top-banner {
        width: calc(100% - 230px);
    }

    /*Footer*/


}

/* >= 701px && <=1100px */

@media screen and (min-width: 701px) and (max-width: 1100px) { 
    .album {
        width: calc((100% - 60px) / 4);
    }

}

/* >= 800px*/

@media screen and (min-width: 800px){
    .foot-left-text {
        display: inline-block;
    }

    .foot-center-playtime .player {
        width: 40vw;
    }
    
}
/* >=1101px */

@media screen and (min-width: 1101px) {
    .album {
        width: calc((100% - 90px) / 6);
    }
    .foot-right .player{
        display: inline-block;
    }
    
}  