/* Mobile First <= 600px */

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Common*/

body {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 15px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.green-hr {
    width: 40%;
    margin-top: 5px;
    border: 1px solid #ADFF2F;
    visibility: hidden;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    font-size: 5em;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.overlay--circle {
    border-radius: 50%;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.album__img:hover .overlay {
    display: block;
}

a {
    text-decoration: none;
    color: #FFF;
}

ul {
    list-style: none;
}

h2 {
    padding-bottom: 20px;
}

h5 {
    color: #b8b8b8;
    padding-bottom: 20px;
}

.bar {
    width: 60%;
    height: 0.2em;
    border-radius: 25px;
    background-color: #b8b8b8;
    position: relative;
}

.bar--progress {
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    background-color: #FFF;
    z-index: 1;
}
/* Main */

main {
    background-color: #141922;
}

.main-container {
    width: calc(100% - 50px);


}

.content {
    padding-top: 90px;
    height: calc(100vh - 90px);
    overflow-y: auto;
}

/* Top banner*/
.top-banner {
    background-color: rgba(0, 0, 0, 0.3);
    width: calc(100% - 50px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.btn__upgrade {
    font-size: 1.2em;
    height: 50px;
    border: 1px solid #FFF;
    margin-right: 50px;
    padding: 13px 40px;
    border-radius: 25px;
    transition: 0.2s;
}

.btn__upgrade:hover {
    transform: scale(1.2);
}


/* Sidebar */

aside {
    width: 50px;
    height: calc(100vh - 90px);
    padding-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #b8b8b8;
    background-color: #000;
}

.logo-xs {
    display: inline-block;
    width: 80%;
}

.logo-lg {
    display: none;
    width: 80%;
}

span {
    display: none;
    padding-left: 10px;
}

.nav-top ul {
    padding: 10px 0;

}

.nav-top li {
    align-items: center;
    padding: 5px 8px;
    color: #b8b8b8;
}

.nav-top li:hover path{
    fill: #FFF;
    cursor: pointer;
}

.nav-top li:hover {
    cursor: pointer;
    color: #FFF;
}

.nav-top li:focus {
    border-left: 3px solid #ADFF2F;
}

.nav-svg {
    width: 30px;
    height: 30px;
}

.nav-playlist {
    display: none;
    overflow: hidden;
    flex-grow: 1;
    padding: 5px 8px;
}

.nav-playlist ul {
    height: calc(100% - 75.45px);
    overflow-y: auto;

}

.nav-playlist h3 {
    font-size: 1.4em;
    color: #FFF;
}


.nav-playlist h4 {
    font-size: 1.2em;
}

.playlist-add {
    align-items: center;
    margin: 20px 0;
}

.playlist-add:hover, .nav-playlist li:hover {
    color: #FFF;
    cursor: pointer;
}

.playlist-add:hover .fa-plus {
    background-color: #FFF;
    cursor: pointer;
}

.fa-plus {
    font-size: 2em;
    width:50px;
    height:50px;
    padding: 11px;
    margin-right: 10px;
    background-color: #A3A3A3;
    color: #000;
}

.nav-playlist li {
    padding: 10px 0;
}

.nav-profile {
    margin-top: auto;
}

.nav-profile hr {
    visibility: hidden;
}

.download:hover, .download:hover path {
    fill: #FFF;
    color: #FFF;
    cursor: pointer;
}

.download, .profile {
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.download svg {
    color: #b8b8b8;
    height: 30px;
    width: 30px;
}

.download span {
    font-size: .9em;
}

.profile {
    color: #FFF;
}

.profile img {
    background-color: #808080;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

/* Content*/

.nav-content {
    padding-top: 20px;
}

.nav-content ul {
    justify-content: center;
    flex-wrap: wrap;
}

.nav-content li {
    padding: 10px 20px;
}

.nav-content li:hover  a {
    color: #FFF;
}

.nav-content a:focus .green-hr {
    visibility: visible;
}

.nav-content a:focus hr {
    visibility: visible;
}

.nav-content a {
    color: #b8b8b8;
}

.recently-played, .for-you, .popular {
    padding: 25px;
}

.album-container {
    flex-wrap: wrap;
}

.album {
    width: calc((100% - 30px) / 2);
    margin-right: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.album__img {
    position: relative;
    overflow: hidden;
}

.album img {
    width: 100%;
}

.album__img--round {
    border-radius: 50%;
}

.album__text {
    padding: 10px 0;
}

.album__subtitle {
    padding: 10px 0;
    color: #b8b8b8;
}

/* Footer */

footer {
    padding: 5px;
    height: 90px;
    position: relative;
    z-index: 3;
    background-color: #282828;
    justify-content: space-between;
    align-items: center;
}

.foot-left {
    width: 20%;
    background-color: red;
    align-items: center;
}

.foot-left-img img{
    width: 40px;
}

.foot-left-text {
    padding: 0 10px;
}

.foot-center {
    justify-content: space-around;
    align-items:center;
    flex-grow: 1;
}

.bot-center-playtime {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.bot-center-icons i{
    font-size: 1.5em;
    padding: 0 10px;
}

.foot-right {
    justify-content: space-around;
    align-items: center;
    width: 20%;
}
