/* Mobile First <= 600px */

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Debug */

aside {
    background-color: #000;
}
.main-container {
    background-color: yellow;
}
.top-banner{
    background-color: #080B12;
}
.content {
    background-color: #141922;
}
footer {
    background-color: #282828;
}



/*Common*/

body {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 15px;
}

.flex {
    display: flex;
}

/* Main */

main {
    height: calc(100vh - 90px);
}

.main-container {
    width: 100%;
    overflow-y: auto;
    
}

.top-banner {
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    opacity: .8;
    z-index: 2;
}

.content {
    padding-top: 90px;
    width: 100%;
}



/* Sidebar */

aside {
    width: 50px;
    height: calc(100vh - 90px);
    padding-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logo-xs {
    display: inline-block;
    width: 80%;
}

.logo-lg {
    display: none;
}

span {
    display: none;
    padding-left: 10px;
}

.nav-top ul {
    padding: 10px 0;

}

.nav-top li {
    align-items: center;
    padding: 5px 8px;
    color: #FFF;
}

.nav-playlist {
    display: none;
    padding: 5px 8px;
}

.nav-playlist h3 {
    font-size: 1.4em;
}


.nav-playlist h4 {
    font-size: 1.2em;
}

.playlist-add {
    align-items: center;
    margin: 20px 0;
}

.fa-plus {
    font-size: 2em;
    width:50px;
    height:50px;
    padding: 11px;
    margin-right: 10px;
    background-color: #A3A3A3;
    color: #000;
}

.nav-playlist li {
    padding: 10px 0;
}

.nav-profile {
    margin-top: auto;
}

.download {
    padding: 10px;
}

.profile {
    padding: 10px;
}

.profile img {
    background-color: #808080;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

/* Footer */

footer {
    height: 90px;
}